---
import HeroB from '/images/hero-bottom.avif'
---

<main class="p-5">
    <div class="md:py-52 py-20 hero md:flex justify-center gap-10">
        <h1 class="text-5xl w-auto md:w-1/3">Unleash your thoughts.</h1>
        <p class="text-xl md:mt-0 mt-5 w-auto md:w-1/3">Welcome to Blog Node, where we explore the fascinating, the wild and the downright quirky world of the latest news, job oppurtunities and events get ready for an engaging and eye-opening experiences.</p>
    </div>
    <div class="py-10 flex gap-5 flex-col md:flex-row">
        <img src={HeroB} alt="" class="rounded-lg md:w-1/2 w-auto">
        <div class="flex flex-col md:items-center md:justify-center md:w-1/2 items-start">
            <h1 class="md:mt-0 mt-5 text-3xl">Discover your passion</h1>
            <p class="mt-5">Blog Node offers stories from various sectors, ensuring you never miss a beat. Get the scoop on the latest news, new job prospects and stay informed about upcoming events.</p>
        </div>
    </div>
</main>