---
import Navbar from '../components/Navbar.astro'
import Home from './home.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Blog Node</title>
	</head>
	<body class="bg-black text-pink-400">
		<Navbar />
		<Home />
	</body>
</html>