<div class="nav p-5 flex items-center justify-between">
	<h1 class="text-4xl text-orange-400 font-bold">Blog Node</h1>
	<ul class="md:flex gap-10 md:visible hidden">
		<li>
			<a href="/">Home</a>
		</li>
		<li>
			<a href="/news" target="_parent">News</a>
		</li>
		<li>
			<a href="/event" target="_parent">Events</a>
		</li>
		<li>
			<a href="/job" target="_parent">Jobs</a>
		</li>
	</ul>
</div>